header
{
    position: fixed;
    height: 100px;
}

#main
{
    position: fixed;
    margin-top: 100px;
}

aside
{
    background-color: black;
    position: fixed;
    right: 0px;
    width: 200px;
    height: 100%;
}

footer
{
    background-color: black;
    position: fixed;
    bottom: 0px;
    height: 100px;
    width: 100%;
}
