/* TODO
mixin flex
mixin selection

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: hack, monospace;
  font-size: 0.8em;
  background-color: white; }

body {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: calc(100% - 7.5em);
  margin-bottom: 7.5em;
  padding-bottom: 3em; }

p, h1, h2, h3, h4, h5, h6 {
  color: black; }

a {
  outline: 0; }

nav {
  height: 100%;
  width: 20%;
  padding-left: 3em;
  margin-right: 3em;
  top: 0; }
  nav #logo {
    display: block;
    margin: 4em 0em; }
    nav #logo svg {
      max-width: 100%; }
  nav div:last-child {
    margin-top: 4em; }
  nav a {
    display: block;
    margin-bottom: 0.3em;
    max-width: 200px; }
    nav a:hover .main-color {
      stroke: black; }

main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%; }

::-moz-selection {
  background-color: black;
  color: white; }

::selection {
  background-color: black;
  color: white; }

.disabled {
  display: none; }

.pagination {
  margin-top: 3em; }
  .pagination li {
    list-style: none;
    display: inline; }
  .pagination a {
    font-family: pixelpath;
    font-size: 1.85em; }

.marg {
  margin-top: 1em; }

.marg2 {
  margin-top: 3em; }

.decal {
  margin-left: 5.5em; }

section {
  padding-top: 5em; }
  section.solo {
    max-width: 40em; }
  section.principal {
    width: 35%; }
  section.second {
    width: 60%;
    padding-left: 7em;
    padding-right: 6em; }
  section div.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  section div.bloc {
    border: 5px solid black;
    border-bottom-left-radius: 2.5px;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    padding: 0.5em 2em 1em 1.5em; }
  section div.name {
    width: 100%; }
  section div.section p.decal {
    margin-top: 0.7em;
    margin-bottom: 1em; }
  section div.section p.bloc {
    box-sizing: content-box;
    width: 40px;
    text-align: center;
    display: inline-block;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px; }
  section div.section h4 {
    border: 5px solid black;
    border-bottom-left-radius: 2.5px;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    font-family: pixelpath;
    font-size: 1.85em;
    color: white;
    background-color: black;
    padding: 0 2em 0 1em; }
  section span.license {
    display: block;
    text-align: right;
    margin-top: 0.4em;
    margin-right: 0.5em; }
  section a.picto {
    box-sizing: content-box;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px; }
  section .tags a {
    border: none;
    text-decoration: underline; }
  section a {
    border-bottom: 5px solid springgreen;
    color: black;
    text-decoration: none; }
    section a:hover {
      border-bottom-color: black;
      color: black; }
    section a:visited {
      color: black; }
  section h3 {
    font-family: pixelpath;
    font-size: 2.2em; }
  section .widget:not(:first-child) {
    margin-top: 1em; }
  section .widgetBis:not(:first-child) {
    margin-top: 4em; }
  section .description p {
    margin-bottom: 1em; }
  section .description a {
    text-decoration: underline;
    border-bottom: none; }
  section .description h1, section .description h2, section .description h3, section .description h4, section .description h5, section .description h6 {
    font-family: pixelpath;
    font-size: 1.85em; }
  section .description strong {
    font-style: bold; }
  section .description em {
    font-style: italic; }

.more {
  margin-left: calc(100% - 5em);
  text-align: center;
  margin-top: 2em;
  width: 5em;
  border: 1px solid black;
  padding: 0em 0em; }
  .more a {
    border: none; }

.title {
  width: 20em;
  margin-bottom: 3em; }

/* SVGS */
.line {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round; }

.main-width {
  stroke-width: 5;
  stroke-miterlimit: 5; }

.aux-width {
  stroke-width: 3;
  stroke-miterlimit: 3; }

.black {
  stroke: black; }

.main-color {
  stroke: springgreen; }

.circle {
  fill: black;
  stroke: none; }

/* FONTS */
/* Pixelpath - https://autre.space/ */
@font-face {
  font-family: 'pixelpath';
  src: url("../fonts/pxph/pixelpath-regular-webfont.woff") format("woff"), url("../fonts/pxph/pixelpath-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
/* Hack v2.020 - https://sourcefoundry.org/hack/
 * Licenses - Fonts: Hack Open Font License + Bitstream Vera license,
 * CSS: MIT License */
@font-face {
  font-family: 'Hack';
  src: url("../fonts/hack/hack-regular-webfont.woff2?v=2.020") format("woff2"), url("../fonts/hack/hack-regular-webfont.woff?v=2.020") format("woff"), url("../fonts/hack/hack-regular-webfont.ttf?v=2.020") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Hack';
  src: url("../fonts/hack/hack-bold-webfont.woff2?v=2.020") format("woff2"), url("../fonts/hack/hack-bold-webfont.woff?v=2.020") format("woff"), url("../fonts/hack/hack-bold-webfont.ttf?v=2.020") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Hack';
  src: url("../fonts/hack/hack-italic-webfont.woff2?v=2.020") format("woff2"), url("../fonts/hack/hack-italic-webfont.woff?v=2.020") format("woff"), url("../fonts/hack/hack-italic-webfont.ttf?v=2.020") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Hack';
  src: url("../fonts/hack/hack-bolditalic-webfont.woff2?v=2.020") format("woff2"), url("../fonts/hack/hack-bolditalic-webfont.woff?v=2.020") format("woff"), url("../fonts/hack/hack-bolditalic-webfont.ttf?v=2.020") format("truetype");
  font-weight: 700;
  font-style: italic; }

/*# sourceMappingURL=style.css.map */
