body
{
    margin: 0px;
}

header
{
    position: fixed;
    display: flex;
    width: 80%;
    justify-content: center;
}

header *
{
    margin: auto;
    padding: 10px;
    position: relative;
    bottom: 0px;
}

#main
{
    padding: 15px;
    position: fixed;
    margin-top: 100px;
}

aside
{
    color: white;
    padding: 15px;
    background-color: black;
    position: fixed;
    right: 0px;
    min-width: 200px;
    height: 100%;
}

footer
{
}

#bottomPlayer
{
    position:fixed;
    bottom:0;
    width:100%;
    margin-bottom:-5px;
}

#bottomPlayer .currentTrackTitle
{
    margin: 0px;
}

#bottomPlayer .audio-player
{
    width: inherit;
}
