
.marg {
    margin-top: 1em;
}
.marg2 {
    margin-top: 3em;
}
// WHOOPS
.marg3 {
    margin-top: 2em;
}
.decal {
    margin-left: 5.5em;
}

section {
    padding-top: 5em;

    &.solo {
        max-width: 40em;
        margin-left: 5em;
    }
    &.principal {
        width: 35%;
    }
    &.second {
        width: 60%;
        padding-left: 7em;
        padding-right: 6em;
    }

    div {
        &.flex {
            @include flexbox();
        }
        &.bloc {
            border: $border;
            @include border-radius(bl tr br);
            padding: 0.5em 2em 1em 1.5em;
        }
        &.name {
            width: 100%;
        }
        &.section {
            p.decal {
                margin-top: 0.7em;
                margin-bottom: 1em;
            }
            p.bloc {
                box-sizing: content-box;
                width: 40px;
                text-align: center;
                display: inline-block;
                @include border(t l b);
                @include border-radius(tl bl);
            }
            h4 {
                border: $border;
                @include border-radius(bl tr br);
                font-family: $font-title;
                font-size: 1.85em;
                color: white;
                background-color: $black;
                padding: 0 2em 0 1em;
            }
        }
    }

    span {
        &.license {
            display: block;
            text-align: right;
            margin-top: 0.4em;
            margin-right: 0.5em;
        }

    }

    a.picto {
        // FIXME try to merge with the section time
        box-sizing: content-box;
        display: inline-block;
        width: 40px;
        height: 40px;
        @include border(t l b);
        @include border-radius(tl bl);
    }

    .tags a {
        border: none;
        text-decoration: underline;
    }

    a {
        //FIXME use mixin (adapt it)
        border-bottom: 5px solid $main-color;
        color: black;
        text-decoration: none;

        &:hover {
            border-bottom-color: $black;
            color: $black;
        }
        &:visited {
            color: $black;
        }
    }
    a.pabo {
        border: none;
        text-decoration: underline;
    }

    h3 {
        font-family: $font-title;
        font-size: $font-title-size;
    }
    .widget:not(:first-child) {
        margin-top: 1em;
    }
    .widgetBis:not(:first-child) {
        margin-top: 4em;
    }

    .description {
        p {
            margin-bottom: 1em;
        }
        a {
            text-decoration: underline;
            border-bottom: none;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: $font-title;
            font-size: 1.85em;
        }
        strong {
            font-style: bold;
        }
        em {
            font-style: italic;
        }
    }

}



.more {
    margin-left: calc(100% - 5em);
    text-align: center;
    margin-top: 2em;
    width: 5em;
    border: 1px solid $black;
    padding: 0em 0em;

    a {
        border: none;
    }
}

#left-panel {

}
#right-panel {

}

.title {
    width: 20em;
    margin-bottom: 3em;
}
