/* SVGS */
.line {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.main-width {
    stroke-width: 5;
    stroke-miterlimit: 5;
}
.aux-width {
    stroke-width: 3;
    stroke-miterlimit: 3;
}
.black {
    stroke: $black;
}
.main-color {
    stroke: $main-color;
}
.circle {
    fill: $black;
    stroke: none;
}
