@import 'rules';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-text;
    font-size: $font-text-size;
    background-color: $white;
}

body {
    height: 100%;
    display: flex;
    height: calc(100% - 7.5em);
    margin-bottom: 7.5em;
}

p, h1, h2, h3, h4, h5, h6 {
    color: $black;
}
a {
    outline: 0;
}

nav {
    height: 100%;
    width: 20%;
    padding-left: 3em;
    margin-bottom: 3em;
    position: sticky;
    position: webkit-sticky;
    top: 0;

    #logo {
        display: block;
        margin: 4em 0em;

        svg {
            max-width: 100%;
        }
    }

    div:last-child {
        margin-top: 4em;
    }

    a {
        display: block;
        margin-bottom: 0.3em;
        max-width: 200px;

        &:hover {
            .main-color {
                stroke: black;
            }
        }
    }
}

main {
    display: flex;
    width: 100%;

    a {
        // font-family: pixelpath;
        // font-size: $font-title-size;
        // text-decoration: none;
        // border-bottom: 3px solid $main-color;
        // background-color: $white;
        // position: sticky;
        // top: 0;

        &:hover {
            background-color: $main-color;
            border-bottom: none;
        }
    }
}


@import 'sections';
@import 'svgs';
@import 'fonts';
