@import 'rules';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-text;
    font-size: $font-text-size;
    background-color: $white;
}

body {
    height: 100%;
    @include flexbox();
    height: calc(100% - 7.5em);
    margin-bottom: 7.5em;
    padding-bottom: 3em;
}

p, h1, h2, h3, h4, h5, h6 {
    color: $black;
}
a {
    outline: 0;
}

nav {
    height: 100%;
    width: 20%;
    padding-left: 3em;
    margin-right: 3em;
    // position: sticky;
    // position: webkit-sticky;
    top: 0;

    #logo {
        display: block;
        margin: 4em 0em;

        svg {
            max-width: 100%;
        }
    }

    div:last-child {
        margin-top: 4em;
    }

    a {
        display: block;
        margin-bottom: 0.3em;
        max-width: 200px;

        &:hover {
            .main-color {
                stroke: black;
            }
        }
    }
}

main {
    @include flexbox();
    width: 100%;
}
::-moz-selection {
    background-color: $black;
    color: $white;
 }
::selection {
    background-color: $black;
    color: $white;
}


// PAGES

.disabled {
    display: none;
}

.pagination {
    margin-top: 3em;
    li {
        list-style: none;
        display: inline;
    }
    a {
        font-family: $font-title;
        font-size: 1.85em;
    }
}


@import 'sections';
@import 'svgs';
@import 'fonts';
