% from "_macros.html" import description

<section class="second">
    <div class="title marg2">
        {% include 'svg/title_about.svg' %}
    </div>
    {{ description(page.description) -}}
</section>

<section id="subscribe" class="principal">
  <h3 class="iconbox-title marg">Newsletter</h3>
    <div class="iconbox-desc marg">
    <form id="ml-subscribe" method="POST" action="https://radiorhino.eu/mailman/subscribe/news">
        <input  type="text" name="email" maxlength="80" size="20" placeholder="Votre adresse email" required>
        <input class="marg" type="submit" value="S'inscrire" href="javascript:{}" onclick="document.getElementById('ml-subscribe').submit(); return false;">
    </form>
    </div>
</section>
