<section class="second">
    {% if events %}
        <div class="title marg2">
            {% include 'svg/title_agenda.svg' %}
        </div>
        <div>
            {% for elem in events %}
            <article class="widgetBis">
                <h3><a class="content-link"
                    href="{{ url_for('main.agenda', id=elem.id) }}">
                {{ elem.name -}}
                </a></h3>
                <span>Du {{ elem.begin|format_date  }} au {{ elem.end|format_date }}</span>

                {% if elem.place %}
                <p>Lieu : {{ elem.place }}</p>
                {% endif %}

                <div class="marg description">
                    {{ elem.description|safe }}
                </div>
            </article>
            {% endfor %}
        </div>


    {% endif %}
</section>
