% from "_macros.html" import description, title, more_button, pagination_widget

<section class="second">
    <div class="title marg2">
        {% include 'svg/title_agenda.svg' %}
    </div>

    % for elem in events
    <article class="widgetBis">
        {{ title('main.agenda', elem.id, elem.name) -}}

        <p class="marg">Du {{ elem.begin|format_date  }} au {{ elem.end|format_date }}</p>

        % if elem.place
        <p>Lieu : {{ elem.place }}</p>
        % endif

        {{ description(elem.description) -}}
    </article>
    {{ more_button('main.agenda', elem.id) }}
    % endfor

{{ pagination_widget(pagination, 'main.agendas') }}
</section>
