<section class="second">
    {% if blog_posts %}
    <div class="title">
        {% include 'svg/title_blog.svg' %}
    </div>

    {% for elem in blog_posts %}
    <article class="widgetBis">
        <h3><a class="content-link"
            href="{{ url_for('main.blog', id=elem.id) }}">
        {{ elem.name -}}
        </a></h3>
        <span class="license">{{ elem.timestamp|format_date }}</span>

        {% if elem.contributors|length > 0 %}
        <p class="marg">Par
        {% for contributor in elem.contributors %}
            <a class="content-link"
                href="{{ url_for('main.contributor', id=contributor.id) }}">
            {{ contributor.name -}}
            </a>
            {%- if not loop.last %}, {% endif %}
        {% endfor %}
        {% if elem.contributors|length > 0 %}
        @
        {% for collective in elem.collectives %}
            <a class="content-link"
                href="{{ url_for('main.collective', id=collective.id) }}">
            {{ collective.name -}}
            </a>
            {%- if not loop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        </p>
        {% endif %}

        <div class="marg2 description">
            {{ elem.description|safe }}
        </div>

    </article>
    {% endfor %}
    {% endif %}

</section>
