% from "_macros.html" import link_list, description, more_button, title

<section class="second">
    <div class="title">
        {% include 'svg/title_blog.svg' %}
    </div>

    % for elem in blog_posts
    <article class="widgetBis">
        {{ title('main.blog', elem.id, elem.name) -}}
        <span class="license">{{ elem.timestamp|format_date }}</span>

        {{ link_list(elem.contributors, 'main.contributor', 'Par', close=False) -}}
        {{ link_list(elem.collectives, 'main.collective', ' @', open=False) -}}

        {{ description(elem.description, 200) -}}
    </article>
    {{ more_button('main.blog', elem.id) }}
    % endfor
</section>
