% from "_macros.html" import link_list, description, more_button, title

<section class="second">
    <div class="title">
        <h3>Chaînes</h3>
    </div>

    % for elem in channels
    <article class="widgetBis">
        {{ title('main.channel', elem.id, elem.name) -}}

        {{ link_list(elem.collectives, 'main.collective', 'Animée par') -}}

        {{ link_list(elem.contributors, 'main.contributor', '') -}}

        {{ description(elem.description, 100) -}}
    </article>
    {{ more_button('main.channel', elem.id) }}
    % endfor

</section>
