% from "_macros.html" import link_list, description

<section class="second">
    <div class="title">
        <h3>Chaînes</h3>
    </div>

    % for elem in channels
    <article class="widgetBis">
        <h3><a class="content-link" href="{{ url_for('main.channel',
            id=elem.id) }}">{{ elem.name }}</a></h3>

        {{ link_list(link_list(elem.collectives, 'main.collective', 'Animée par')) -}}

        {{ link_list(elem.contributors, 'main.contributor', '') -}}

        {{ description(elem.description) -}}
    </article>
    % endfor

</section>
