<section class="solo">
    <div class="title">
        {% include 'svg/title_contributors.svg' %}
    </div>

{% for elem in contributors %}
    <article class="widget">
        <p>
            <a class="content-link"
               href="{{ url_for('main.contributor', id=elem.id) }}">
            {{ elem.name }}</a>
            =>
            <a class="pabo" href="{{ elem.website }}">{{ elem.website }}</a>
        </p>
        <p class="marg">------> {{ elem.status }}</p>
    </article>
{% endfor %}
</section>

<section class="solo">
    <div class="title">
        {% include 'svg/title_collectives.svg' %}
    </div>
    {% for elem in collectives %}
        <article class="widget">
            <p>
                <a class="content-link"
                   href="{{ url_for('main.collective', id=elem.id) }}">
                {{ elem.name }}</a>
                =>
                <a class="pabo" href="{{ elem.website }}">{{ elem.website }}</a>
            </p>
            <p class="marg">------> {{ elem.status }}</p>
        </article>
    {% endfor %}
</section>
