-from '_macros.haml' import description

%section.second
    %h3
        =elem.name
    %p.marg
        Du {{ elem.begin|format_date }} au {{ elem.end|format_date }}
    -if elem.place:
        %p << Lieu : {{ elem.place }}
    =description(elem.description)
