-from '_macros.haml' import link_list, description

%section.second
    %h3
        =elem.name
    %span.license
        =elem.timestamp|format_date
    =link_list(elem.contributors, 'main.contributor', 'Par ', close=False)
    =link_list(elem.collectives, 'main.collective', ' @ ', open=False)
    =description(elem.description)
