<section class="second">
    <div class="title">
    </div>
    <article class="">
        {#
        {% if elem.collectives|length > 0 %}
        <div class="title">
            {% include 'svg/title_contributor.svg' %}
        </div>
        {% else %}
        <div class="title">
            {% include 'svg/title_collective.svg' %}
        </div>
        {% endif %}
        #}

        <h3>{{ elem.name }}</h3>

        {% if elem.website %}
        <p class="marg"><a href="{{ elem.website }}">{{ elem.website }}</a></p>
        {% endif %}

        {% if elem.status %}
        <p class="marg">----> {{ elem.status }}</p>
        {% endif %}

        {% if elem.collectives|length > 0 %}
        <p class="marg">Membre de
        {% for collective in elem.collectives %}
            <a class="content-link"
                href="{{ url_for('main.collective', id=collective.id) }}">
            {{ collective.name -}}
            </a>
            {%- if not loop.last %}, {% endif %}
        {% endfor %}
        </p>
        {% endif %}

        {% if elem.channels|length > 0 %}
        <p class="marg">Anime
        {% for elem in elem.channels %}
            <a class="content-link"
                href="{{ url_for('main.collective', id=elem.id) }}">
            {{ elem.name -}}
            </a>
            {%- if not loop.last %}, {% endif %}
        {% endfor %}
        </p>
        {% endif %}

        <!-- FIXME format mail adress [AT] -->
        {#<p>{{ elem.email }}</p>#}

        {% if elem.description %}
        <div class="marg2 description">
            {{ elem.description|safe }}
        </div>
        {% endif %}
    </article>

    <div class="marg2">
    </div>

    {% if elem.podcasts|length > 0 %}
    {% for elem in elem.podcasts %}
    <article class="widget">
        <div class="flex">
            <a class="picto content-link" href="{{ url_for('main.play', id=elem.id) }}">
                {% include 'svg/small_play.svg' -%}
            </a>
            <div class="bloc name">
                <h3><a class="content-link" href="{{ url_for('main.podcast', id=elem.id) }}">{{ elem.name }}</a></h3>
            </div>
        </div>
        <span class="license">{{ elem.timestamp|format_date }}</span>
    </article>
    {% endfor %}
    {% endif %}
</section>
