% from "_macros.html" import link_list, description, podcasts_list

<section class="second">
    <article class="">
        <h3>{{ elem.name }}</h3>

        % if elem.website
        <p class="marg"><a href="{{ elem.website }}">{{ elem.website }}</a></p>
        % endif

        % if elem.status
        <p class="marg">----> {{ elem.status }}</p>
        % endif

        {{ link_list(elem.collectives, 'main.collective', 'Membre de') -}}
        {{ link_list(elem.channels, 'main.channel', 'Anime') -}}

        <!-- FIXME format mail adress [AT] -->
        {#<p>{{ elem.email }}</p>#}

        {{ description(elem.description) -}}
    </article>

    <div class="marg2">
    {{ podcasts_list(elem.podcasts) -}}
    </div>
    
</section>
