<section>
    {% if elem.collectives|length > 0 %}
    <h2>Contributeur :</h2>
    {% else %}
    <h2>Collectif : {{ elem.collectives }}</h2>
    {% endif %}
    <p>{{ elem.name }}</p>

    {% if elem.collectives %}
    <p>COLLECTIFS : </br>
    {% for collective in elem.collectives %}
        <a class="content-link"
            href="{{ url_for('main.collective', id=collective.id) }}">
        {{ collective.name -}}
        </a>
        {%- if not loop.last %}, {% endif %}
    {% endfor %}
    </p>
    {% endif %}


    {% if elem.contributors %}
    <p>CONTRIBUTEURS : </br>
    {% for contributor in elem.contributors %}
        <a class="content-link"
            href="{{ url_for('main.contributor', id=contributor.id) }}">
        {{ contributor.name -}}
        </a>
        {%- if not loop.last %}, {% endif %}
    {% endfor %}
    </p>
    {% endif %}


    {% if elem.channels %}
    <p>CHANNEL : </br>
    {% for channel in elem.channels %}
        <a class="content-link"
            href="{{ url_for('main.index') }}">
        {{ channel.name -}}
        </a>
        {%- if not loop.last %}, {% endif %}
    {% endfor %}
    </p>
    {% endif %}


    {% if elem.podcasts %}
    <p>PODCASTS : </br>
    {% for podcast in elem.podcasts %}
        <a class="content-link"
            href="{{ url_for('main.podcast', id=podcast.id) }}">
        {{ podcast.name -}}
        </a>
        {%- if not loop.last %}, {% endif %}
    {% endfor %}
    </p>
    {% endif %}


    {% if elem.sections %}
    <p>SECTION : </br>
    {% for section in elem.sections %}
        <a class="content-link"
            href="{{ url_for('main.podcast', id=section.podcast.id) }}">
        {{ section.name -}}
        </a>
        {%- if not loop.last %}, {% endif %}
    {% endfor %}
    </p>
    {% endif %}



    <p>INDICATION : {{ elem.status }}</p>
    <p>{{ elem.email }}</p>
    <p><a href="{{ elem.website }}">{{ elem.website }}</a></p>

    <p>DESCRIPTION :</p>
    {{ elem.description|safe }}

</section>

{% if elem.blog_posts %}
<section>
    <h2>Blog</h2>
    <div class="list-item">
        {% for post in elem.blog_posts %}
            <a class="content-link"
                href="{{ url_for('main.blog', id=post.id) }}">
            {{ post.name -}}
            </a>
            <h5>{{ post.timestamp }}</h5>
            {{ post.description|safe }}
            {%- if not loop.last %}, {% endif %}
        {% endfor %}
        </p>
    </div>
</section>
{% endif %}
