-from '_macros.haml' import link_list, description, podcast_list
-include 'svg/pictos/small_play.svg'

%section.second
    %article
        %h3
            =elem.name
        -if elem.website:
            %p.marg -> %a href='{{ elem.website }}'
                =elem.website
        -if elem.status:
            %p.marg
                \----> {{ elem.status }}
        =link_list(elem.collectives, 'main.collective', 'Membre de')
        =link_list(elem.channels, 'main.channel', 'Anime')
        ;FIXME format mail adress [AT]
        ;%p -> =elem.email
        =description(elem.description)

    %div.marg2
        =podcast_list(elem.podcasts)
