-from '_macros.haml' import podcast_box, link_list, description, more_button, title, tag_list
-include 'svg/pictos/small_play.svg'

%section.solo
    =podcast_box(elem)

    %span.license
        =elem.timestamp|format_date
        -if elem.license:
            \ / {{ elem.license }}
    =link_list(elem.collectives, 'main.collective', 'Par ', 'decal')
    =link_list(elem.contributors, 'main.contributor', 'Avec ', 'decal')

    =description(elem.description, css='decal')

    -if elem.sections|length > 0:
        %div.marg2
            -for section in elem.sections:
                %div.section
                    %div.flex
                        %div
                            %p.bloc
                                =section.begin|format_date('%-M')
                        %div
                            %h4 -> =section.name

                    %p.decal
                        -if section.contributors|length > 0:
                            Par&nbsp;
                        -for contributor in section.contributors:
                            %a.content-link \
                            href={{ url_for('main.contributor', id=contributor.id) }}
                                =contributor.name
                            -if not loop.last:
                                ,&nbsp;

    =tag_list(elem.tags, 'decal')
