-macro podcast_box(elem):
    %div.flex
        %a.picto.content-link href='{{ url_for('main.play', id=elem.id) }}'
            %svg -> %use xlink:href='#small-play'
        %div.bloc.name
            %h3 -> =elem.name
            -if elem.channel.name:
                %h3 -> %a.content-link \
                href='{{ url_for('main.channel', id=elem.channel.id) }}'
                    =elem.channel.name|upper

-macro title(route, route_id, name):
    %h3 -> %a.content-link href='{{ url_for(route, id=route_id) }}'
        =name

-macro link_list(group, route, word, css, open=True, close=True):
    -if group|length > 0:
        -if open:
            <p class='marg {% if css %}{{ css }}{% endif %}'>{{ word }}
        -else:
            =word
        -for elem in group:
            %a.content-link href='{{ url_for(route, id=elem.id)}}'
                =elem.name
            -if not loop.last:
                ,&nbsp;
        -if close:
            </p>

-macro contributors_list(group, route):
    -for elem in group:
        %article.widget
            %p
                %a.content-link href='{{ url_for(route, id=elem.id) }}'
                    =elem.name
                \ =>&nbsp;
                %a.pabo href='{{ elem.website }}'
                    =elem.website
            %p.marg
                \------> {{ elem.status }}

-macro description(desc, truncate_value, css):
    -if desc:
        %div class='marg2 description {% if css %}{{ css }}{% endif %}'
            -if truncate_value:
                =desc|safe|truncate(truncate_value, False)
            -else:
                =desc|safe

-macro more_button(route, route_id):
    %p.more
        %a.content-link href='{{ url_for(route, id=route_id) }}'
            more

-macro podcast_list(group):
    -if group|length > 0:
        -for elem in group:
            %article.widget
                =podcast_box(elem)
                %span.license
                    =elem.timestamp|format_date

-macro tag_list(group, css):
    -if group|length > 0:
        %p class='tags marg2 {% if css %}{{ css }}{% endif %}'
            Tags :&nbsp;
            -for elem in group:
                %a << {{ elem.name }}
                -if not loop.last:
                    ,&nbsp;

-macro add_pages(pag, endpoint):
    %div.pagination -> %ul.pagination
        %li class='{% if not pag.has_prev %}disabled{% endif %}'
            %a.content-link href='{% if pag.has_prev %}\
            {{ url_for(endpoint, page = pag.page - 1, **kwargs) }}\
            {% else %}#{% endif %}'
                &laquo;
        -for p in pag.iter_pages():
            &nbsp;
            -if p:
                %li class='{% if p == pag.page %}active{% endif %}'
                    %a.content-link \
                    href='{{ url_for(endpoint, page = p, **kwargs) }}'
                        {{p}}
            -else:
                %li.disabled
                    %a href='#'
                        &hellip;
        %li class='{% if not pag.has_next %}disabled{% endif %}'
            &nbsp;
            %a.content-link href='{% if pag.has_next %}\
            {{ url_for(endpoint, page = pag.page + 1, **kwargs) }}\
            {% else %}#{% endif %}'
                &raquo;
