<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" lang="FR/fr">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Radio Rhino{% if title %} | {{ title }} {% endif %}</title>
        {% endblock %}
    </head>

    <body>
        {% block body %}

        {% include 'menu.html' %}

        <main>
            {% include 'index.html' %}
        </main>

        {% include 'player.html' %}

        {% endblock %}
    </body>

    <script type="text/javascript" src={{ url_for('static', filename='js/player.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/app.js') }}></script>

    {% if content %}
    <script type="text/javascript">
        (function(){ loadContent('{{ content }}'); })()
    </script>
    {% endif %}

</html>
