<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" lang="FR/fr">
        {% for style in styles %}
        <link rel="stylesheet" href="{{ style }}">
        {% endfor %}
        <title>Radio Rhino{% if title %} | {{ title }} {% endif %}</title>
        {% endblock %}
    </head>

    <body>
        {% block body %}

        <aside id="chat">
            {% include 'chatAside.html' %}
        </aside>

        <header>
            {% include 'header.html' %}
        </header>

        <div id="main">
            {% block main %}
            {% endblock %}
        </div>

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>

        <div id="bottomPlayer">
            {% include 'bottomPlayer.html' %}
        </div>

       {% endblock %}
    </body>

    {% for script in scripts %}
    <script type="text/javascript" src={{ script }}></script>
    {% endfor %}

    {% if specificContent %}
    <script type="text/javascript">$(function(){ {{ specificContent.function }}("{{ specificContent.arg}}") });</script>
    {% endif %}

</html>
