-include 'svg/pictos/small_play.svg'

%section.principal
    %div.title
        -include 'svg/titles/title_podcasts.svg'
    -for elem in podcasts:
        %article.widget
            %div.flex
                %a.picto.content-link href={{ url_for('main.play', id=elem.id) }}
                    %svg -> %use href='#small-play'
                %div.bloc.name
                    %h3 -> %a.content-link href={{ url_for('main.podcast', id=elem.id) }}
                        =elem.name
            %span.license
                =elem.timestamp|format_date
    -if events:
        %div.title.marg2
            -include 'svg/titles/title_agenda.svg'
        %div
    -for elem in events:
            %article.widgetBis
                %a href={{ url_for('main.agenda', id=elem.id) }}
                    %h3 -> =elem.name
                    %span
                        Du {{ elem.begin|format_date }} au {{ elem.end|format_date }}
                    %div.marg.description
                        =elem.description|safe|truncate(200, False)

%section.second
