-include 'svg/pictos/small_play.svg'

%section.principal
    %div.title
        -include 'svg/titles/title_podcasts.svg'
    -for elem in podcasts:
        %article.widget
            %div.flex
                %a.picto.content-link href={{ url_for('main.play', id=elem.id) }}
                    %svg -> %use xlink:href='#small-play'
                %div.bloc.name
                    %h3 -> %a.content-link href={{ url_for('main.podcast', id=elem.id) }}
                        =elem.name
            %span.license
                =elem.timestamp|format_date
    -if events:
        %div.title.marg2
            -include 'svg/titles/title_agenda.svg'
        %div
    -for elem in events:
        %article.widgetBis
            %a href={{ url_for('main.agenda', id=elem.id) }}
                %h3 -> =elem.name
            %span
                -if elem.begin != elem.end:
                    Du {{ elem.begin|format_date }} \
                    à {{ elem.begin|format_date('%H h %M') }} \
                    au {{ elem.end|format_date }} \
                    à {{ elem.end|format_date('%H h %M') }} \
                -else:
                    Le {{ elem.begin|format_date }} \
                    de {{ elem.begin|format_date('%H h %M') }} \
                    à {{ elem.begin|fomat_date('%H h %M') }}
            %div.marg.description
                =elem.description|safe|truncate(200, False)
%section.second
    -for elem in blog_posts:
        %article.widgetBis
            %a href={{ url_for('main.blog_post', id=elem.id) }}
                %h3 -> =elem.name
            %span {{ elem.date|format_date }}
                =link_list(elem.contributors, 'main.contributor', 'Par ', close=False)
                =link_list(elem.collectives, 'main.collective', ' @ ', open=False)
            =description(elem.description, 15)
