{% extends "base.html" %}

{% block main %}

<div id="leftPanel">
    <h2>Derniers ajouts</h2>
    <ul>
      {% for podcast in podcasts %}
        <li><a class="podcast" href="{{podcast.link}}">{{podcast.title}}</a></li>
      {% endfor %}
    </ul>
</div>

<div id="rightPanel">
    <div id="blog">
        <h2>Blog</h2>
        {% for article in blog %}
        <article>
            <h3>{{ article.title }} </h3>
            <h5>{{ article.date }}</h5>
            <p>{{ article.content }}</p>
        </article>
        {% endfor %}
    </div>

    <div id="agenda">
        <h2>Agenda</h2>
        {% for event in agenda %}
        <article>
            <h3>{{ event.date }}</h3>
            <h4>{{ event.title }}</h4>
            <h5>{{ event.place }}</h5>
            <p>{{ event.description }}</p>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
