%nav
    %a#logo.content-link href={{ url_for('main.index') }}
        -include 'svg/logo.svg'
    %div#live-autocheck.disabled href={{ url_for('main.get_live') }}
        %a#live-play.content-link href=''
            Play
    %div
        %a.content-link href='{{ url_for('main.podcasts') }}'
            -include 'svg/titles/title_podcasts.svg'
        %a.content-link href='{{ url_for('main.contributors') }}'
            -include 'svg/titles/title_contributors.svg'
        %a.content-link href='{{ url_for('main.blogs') }}'
            -include 'svg/titles/title_blog.svg'
        %a.content-link href='{{ url_for('main.agendas') }}'
            -include 'svg/titles/title_agenda.svg'
    %div
        %a.content-link href='{{ url_for('main.about') }}'
            -include 'svg/titles/title_about.svg'
        %a.content-link href='{{ url_for('main.contribute') }}'
            -include 'svg/titles/title_contribute.svg'
