<nav>
    <a id="logo" class="content-link" href="{{ url_for('main.index') }}">
        {% include 'svg/logo.svg' %}
    </a>
    <div id="live_autocheck" href="{{ url_for('main.get_live') }}" style="display:none;">
        <a id="live_play" class="content-link" href="">Play</a>
    </div>
    <div>
        <a class="content-link" href="{{ url_for('main.podcasts') }}">
            {% include 'svg/titles/title_podcasts.svg' %}</a>
        <a class="content-link" href="{{ url_for('main.contributors') }}">
            {% include 'svg/titles/title_contributors.svg' %}</a>
        <a class="content-link" href="{{ url_for('main.blogs') }}">
            {% include 'svg/titles/title_blog.svg' %}</a>
        <a class="content-link" href="{{ url_for('main.agendas') }}">
            {% include 'svg/titles/title_agenda.svg' %}</a>
    </div>
    <div>
        <a class="content-link" href="{{ url_for('main.about') }}">
            {% include 'svg/titles/title_about.svg' %}</a>
        <a class="content-link" href="{{ url_for('main.contribute') }}">
            {% include 'svg/titles/title_contribute.svg' %}</a>
    </div>
</nav>
