<nav>

    <a id="logo" class="contentLink" href="/">
        {% include 'svg/logo.svg' %}
    </a>
    <div>
        <a class="contentLink" href="/podcasts">{% include 'svg/title_podcasts.svg' %}</a>
        <a class="contentLink" href="/contributors">{% include 'svg/title_contributors.svg' %}</a>
        <a class="contentLink" href="/blogs/">{% include 'svg/title_blog.svg' %}</a>
        <a class="contentLink" href="/agendas">{% include 'svg/title_agenda.svg' %}</a>
    </div>
    <div>
        <a class="contentLink" href="/about">{% include 'svg/title_about.svg' %}</a>
        <a class="contentLink" href="/contribute">{% include 'svg/title_contribute.svg' %}</a>
    </div>



</nav>
