<nav>
    <a id="logo" class="content-link" href="/">
        {% include 'svg/logo.svg' %}
    </a>
    <div>
        <a class="content-link" href="/podcasts">
            {% include 'svg/title_podcasts.svg' %}</a>
        <a class="content-link" href="/contributors">
            {% include 'svg/title_contributors.svg' %}</a>
        <a class="content-link" href="/blogs">
            {% include 'svg/title_blog.svg' %}</a>
        <a class="content-link" href="/agendas">
            {% include 'svg/title_agenda.svg' %}</a>
    </div>
    <div>
        <a class="content-link" href="/about">
            {% include 'svg/title_about.svg' %}</a>
        <a class="content-link" href="/contrib">
            {% include 'svg/title_contribute.svg' %}</a>
    </div>
</nav>
