%div#player
    %div#slider-bar
        %div#time.box-text
            %span#current-time << 0:00
            %span.separator << /
            %span#total-time << 0:00
        %div#track.sliders
            %div#track-loading
            %div#track-progress
        %div#mute.box-text
            %span << mute
        %div#volume.sliders
            %div#volume-active

    %div#controls
        %div#play-pan.pan
            %div#play.button
                -include 'svg/player/playpause.svg'
            %div#play-infos.text
                %h3#track-title << TITRE
                %p << CHANNEL
        %div#nextPrev-pan.pan
            %div#previous.button
                -include 'svg/player/previous.svg'
            %div#next.button
                -include 'svg/player/next.svg'
            %div#side-infos.text
                %h3 << TITRE
                %p << DATE
                %p << INFOS
        %div#playlist-pan.pan
            %div#playlist.button
                -include 'svg/player/playlist.svg'
            %div#playlist-infos.text
                %h3 << PLAYLIST
                %p << active :

    %audio#audio
        %source.mp3_src(src='' type='audio/mp3')
        Your browser does not support the audio element.
